<div class="container">
    <div class="illustration-section">
      <div class="logo">
        <img src="https://kalpitatechnologies.com/assets/common/black-logo.png" alt="Kalpita Technologies Logo">
        <div class="vertical-line"></div>
        <span class="prosp-engage">Prosp-Engage</span>
      </div>
      <h1>Advanced Sales Automation CRM.</h1>
      <p class="subtitle">Crafting Connections, Closing Deals...</p>
      <div class="illustration">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/ec0f15b68a49ddfcc72a7198e612d696c65a4ed4e421a8ed9cd868f2b5f354fa?apiKey=f44af6d27c894ec5ae4913fe8bd60b76&"
          alt="CRM Illustration">
      </div>
    </div>
    <div class="login-form-section">
      <h2>Sign In To Your Account.</h2>
      <form  class="login-form">
        <button id="btn" type="button" class="submit-btn" (click)="login()">
          Sign In
          <i class="fas fa-arrow-right"></i>
        </button>
        <p class="signup-prompt">
          <b> Don't have an account? </b>
          <a href="#" class="signup-link"><b>Sign Up</b></a>
        </p>
      </form>
    </div>
  </div>
  
  