@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
 
 
/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: white;
  color: black;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 5px;
}
 
.sidebar .logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
 
.sidebar .logo img {
  margin-left: 10px;
}
 
.sidebar .logo .menu-icon {
  width: 24px;
  height: 24px;
  color: black;
}
 
.sidebar .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
 
.sidebar .menu li {
  margin-bottom: 20px;
}
 
.sidebar .menu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
 
.sidebar .menu li a:hover {
  background-color: #007BFF;
  color: white;
}
 
.sidebar .menu li a span.material-symbols-outlined {
  margin-right: 10px;
}
 
/* Header Styles */
.header-container {
  position: fixed;
  top: 0;
  left: 200px; /* Match sidebar width */
  right: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  height: 65px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index:1;
}
 
/* Search and Dropdown Styles */
.search-dropdown-container {
  display: flex;
  align-items: center;
  gap: 0px;
  flex-grow: 1;
  margin-left: 20px;
}
 
.search-dropdown-with-icon {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  height: 36px;
  width: 150px;
}
 
.search-dropdown-with-icon .search-icon {
  padding: 8px;
}
 
.search-dropdown-with-icon .dropdown-select {
  border: none;
  outline: none;
  padding: 8px 12px;
  height: 100%;
  width: 100%;
}
 
.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 2;
  margin-left: 10px;
}
 
.search-input {
  display: inline-block;
  width: 40%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  margin-right: 10px;
  height: 36px;
}
.no-results {
  color: #dc3545;
  padding: 8px;
  margin-top: 8px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: absolute;
  z-index: 1000;
  width: fit-content;
  top: 100%; /* Position below the search input */
  left: 0;
}
 
.search-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 7px 16px;
  border-radius: 4px;
  cursor: pointer;
  height: 36px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
 
.search-button:hover {
  background-color: #0056b3;
}
 
/* Header Actions Styles */
.header-actions {
  display: flex;
  align-items: center;
}
 
.add-new-dropdown {
  position: relative;
  margin-right: 50px;
}
 
.add-new-btn {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  border: 1px solid #007BFF;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  height: 36px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
 
.add-new-btn:hover {
  background-color: #0056b3;
}
 
.add-new-btn .caret {
  margin-left: 5px;
  width: 10px;
  height: 10px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  display: inline-block;
  transform: rotate(-135deg);
  transition: transform 0.3s ease-in-out;
}
 
.add-new-dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  min-width: 150px;
  border-radius: 4px;
  cursor: pointer;
}
 
.add-new-dropdown:hover .dropdown-content {
  display: block;
}
 
.add-new-dropdown .dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}
 
.add-new-dropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}
 
/* Notifications Styles */
.notifications {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 20px;
}
 
.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 10px;
  width: 25px;
  height: 15px;
  border-radius: 8px;
  text-align: center;
  line-height: 15px;
}
 
.notification-icon {
  font-size: 20px;
  cursor: pointer;
}
 
/* Profile Icon Styles */
.profile-icon {
  background-color: orange;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
 
/* Main Content Wrapper */
main {
  position: relative;
  width: calc(100% - 200px);
  margin-left: 200px;  /* Match sidebar width */
  padding: 20px;
  min-height: calc(100vh - 65px); /* Full viewport height minus header height */
  margin-top: 79px; /* Match header height */
  /* background-color: white; */
  /* position: relative; */
}
.router-content {
  width: 100%;
  height: 100%;
  position: relative;
}